body {
	margin-top: 2%;
	margin-left: 12.5%;
	margin-right: 12.5%;
	font-family: 'Palatino Linotype', 'Georgia', 'Times New Roman', serif;
	font-size: larger;
	background-image: url("images/websiteBG.png");
	background-size:     cover; 
	background-repeat:   no-repeat;
    background-position: center top;
    overflow: scroll;
    height: 2000px;
    width: 1276px;
	
}

div {
	margin-top: 1em;
}

a {
	outline: 0;
	color: blue;
}

.header {
	margin: 0 auto;
	text-align: center;
}

#myavatar {
	display: block;
	margin: 0 auto;
	width: 128px;
	border-radius: 50%;
	box-shadow: 8px 8px 8px #cccccc;
}

#myname {
	font-weight: bold;
	font-style: italic;
}

.nav {
	text-align: center;
}

.nav .tab {
	display: inline-block;
	width: 5em;
	margin: 1em .5em;
	padding: .5em;
	border-radius: 1em;
	background-color: #eeeeee;
	cursor: pointer;
	box-shadow: 8px 8px 4px #cccccc;
}

.nav a {
	color: inherit;
}

.linkbox {
	font-size: 12pt;
	border-radius: 1em;
	padding: .25em;
	background-color: #eeeeee;
	box-shadow: 8px 8px 4px #cccccc;
}
.linkbox .headline {
	margin-top: 0;
	text-align: center;
	font-size: larger;
	font-style: italic;
	font-weight: bold;
}

.poetry .title {
	font-weight: bold;
}
.poetry .author {
	margin-top: 0em;
	font-style: italic;
}