body {
	font-family: 'Lato', 'Arial', serif;
	background-image: url("images/webBG.png");
	background-size: cover; 
	background-repeat: no-repeat;
    background-position: center;
    overflow: scroll;

}

div {
	margin-top: 1em;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(26, 33, 41);
}

li {
    float: left;
}

li a {
    display: block;
    color: rgb(181, 230, 255);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: rgb(55, 70, 87);
}
#title {
	margin: 0 auto;
	color: black;
	font-size: 400%;
	text-align: center;
	background-color:rgba(255, 255, 255, 0.5);
	border-radius: 15px;
	/*box-shadow: 8px 8px 8px rgba(255, 255, 255, 0.5);*/
}

a {
	outline: 0;
	color: blue;
}

.header {
	margin: 0 auto;

	text-align: center;
}

#myavatar {
	display: block;
	margin: 0 auto;
	width: 128px;
	border-radius: 50%;
	box-shadow: 8px 8px 8px #cccccc;
}

#myname {
	font-weight: bold;
	font-style: italic;
}

.nav {
	text-align: center;
}

.nav .tab {
	display: inline-block;
	width: 5em;
	margin: 1em .5em;
	padding: .5em;
	border-radius: 1em;
	background-color: #eeeeee;
	cursor: pointer;
	box-shadow: 8px 8px 4px #cccccc;
}

.nav a {
	color: inherit;
}

.linkbox {
	font-size: 12pt;
	border-radius: 1em;
	padding: .25em;
	background-color: #eeeeee;
	box-shadow: 8px 8px 4px #cccccc;
}
.linkbox .headline {
	margin-top: 0;
	text-align: center;
	font-size: larger;
	font-style: italic;
	font-weight: bold;
}

.poetry .title {
	font-weight: bold;
}
.poetry .author {
	margin-top: 0em;
	font-style: italic;
}