body {
	background: rgb(227, 229, 255);
	font-family: Lato,Verdana,Arial,Helvetica, sans-serif;
	 }

div {
	margin: 1em;
    }

 a.button1 {
 	background-color:#0000ff;
	color: white;
    border-radius: 10px; 
	padding: 14px 25px;
    text-align: center;
    display: inline-block;
    margin: 1em;
    cursor:pointer;
  }

a {text-decoration: none; /*remove underlines from links*/}
a.button1:link a.button1:visited {background-color:#0000ff; /* unvisited link */}
a.button1:hover {background-color:#9999ff; /* mouse over link */}
a.button1:active {background-color:#00004d; /* selected link */} 

 div.wideText {letter-spacing: 5px;}
 div.narText {letter-spacing: -2px;}
 div.upCase {text-transform: uppercase;
 			 text-shadow: 4px 4px LightBlue;}
 div.backward {direction: rtl;}
 div.normal {font-weight: normal;}
 div.light {font-weight: lighter;}
 div.thick {font-weight: bold;}
 div.thicker {font-weight: 900;}

 div.box1 {
	color: blue; /*content (text) color*/
	background: MediumSeaGreen; /*content background color*/
	text-align: center;
	border: 25px dotted rgb(255, 165, 0); /*define outline*/
	padding: 100px 50px; /*space between content and border*/
	outline: 40px solid DodgerBlue; /*define outline*/
	outline-offset: 20px;
	/*outline-offset: 30px 50px; /*space between border and outline*/
    margin: 100px 300px; /*space between outline and edge of browser window*/	
	max-width: 300px;
	max-height: 100px;
}

.box2 {
	/*color: gray; /*content (text) color*/
	background: lightSeaGreen; /*content background color*/
	text-align: center;
	border-width: 18px;
	border-style: dotted groove;
	border-color: RoyalBlue red Green; /*define outline*/
	border-radius: 5px 20px 50px 100px;
	padding: 60px; /*space between content and border*/
	outline-style: dotted;
	outline-width: 10px;
	outline-color: DarkBlue; /*define outline*/
	outline-offset: 30px;
	/*outline-offset: 30px 50px; /*space between border and outline*/
    margin: 10% auto; /*space between outline and edge of browser window*/	
	max-width: 300px;
	max-height: 100px;
}



#testID {text-align: center;
         color: red;
         }


h1 {
    text-align: center;
    color: rgb(255, 99, 71);
}

div.just {
	margin: 0 auto;
	color: green;
	border: 1px solid gray;
	max-width: 100px;
	max-height: 100px;
    text-align: justify;
}

h2 {
    text-align: left;
    color: SlateBlue;
}

h3 {
    text-align: right;
    color: rgb(255, 165, 0);
}



	/*Below is code to create the navigation bar. */

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li a {
    display: block;
    width: 60px;
    background-color: #dddddd;
}